Repository nevware21/tripwire: changes, and which Codecov flags are due for each by the changed paths.
All: core, chai_shim

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes
    
comment:
  layout: "header, changes, diff, files"
  behavior: default

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto
        branches:
          - main
        paths:
          - core/src
          - shim/chai/src
    project:
      core:
        paths:
          - core/src
        target: 80%
        flags:
          - core
      chai_shim:
        paths:
          - shim/chai/src
        target: 70%
        flags:
          - chai_shim

flags:
  core:
    paths:
      - core/src

  chai_shim:
    paths:
      - shim/chai/src

[Release] Increase version to 0.1.3 (#214)
  CHANGELIST.md
  README.md
  common/config/rush/npm-shrinkwrap.json
  core/README.md
  core/package.json
  package.json
  shim/chai/README.md
  shim/chai/package.json
Due: none

Implementation improvements: (#215)
  common/config/rush/npm-shrinkwrap.json
  core/src/assert/assertClass.ts
  core/src/assert/assertionError.ts
  core/src/assert/config.ts
  core/src/index.ts
  core/src/internal/parseStack.ts
  core/test/src/assert/adapters/evalAdapter.test.ts
  core/test/src/assert/addAssertFuncs.test.ts
  core/test/src/assert/assertionError.test.ts
  core/test/src/assert/config.test.ts
  core/test/src/assert/funcs/hasSymbol.test.ts
  core/test/src/assert/getScopeContext.test.ts
  core/test/src/assert/useScope.test.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core

[Release] Increase version to 0.1.4
  CHANGELIST.md
  README.md
  common/config/rush/npm-shrinkwrap.json
  core/README.md
  core/package.json
  package.json
  shim/chai/README.md
  shim/chai/package.json
Due: none

[Release] Increase version to 0.1.4 (#216)
  CHANGELIST.md
  README.md
  common/config/rush/npm-shrinkwrap.json
  core/README.md
  core/package.json
  package.json
  shim/chai/README.md
  shim/chai/package.json
Due: none

feat: add numeric comparison operations (above/below/within)
  README.md
  core/src/assert/assertClass.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/ops/IIsOp.ts
  core/src/assert/ops/isOp.ts
  core/src/assert/ops/numericOp.ts
  core/src/index.ts
  core/test/src/assert/assert.numeric.test.ts
  core/test/src/assert/expect.numeric.test.ts
  core/test/src/assert/ops/numericOp.test.ts
  shim/chai/README.md
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/src/assert/chaiExpect.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

feat: add numeric comparison operations (above/below/within) (#217)
  README.md
  core/src/assert/assertClass.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/ops/IIsOp.ts
  core/src/assert/ops/isOp.ts
  core/src/assert/ops/numericOp.ts
  core/src/index.ts
  core/test/src/assert/assert.numeric.test.ts
  core/test/src/assert/expect.numeric.test.ts
  core/test/src/assert/ops/numericOp.test.ts
  shim/chai/README.md
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/src/assert/chaiExpect.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

feat: Add isNaN assertion support
  core/src/assert/assertClass.ts
  core/src/assert/funcs/is.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/ops/ITypeOp.ts
  core/src/assert/ops/isOp.ts
  core/test/src/assert/assert.isNaN.test.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

feat: Add isNaN assertion support (#218)
  core/src/assert/assertClass.ts
  core/src/assert/funcs/is.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/ops/ITypeOp.ts
  core/src/assert/ops/isOp.ts
  core/test/src/assert/assert.isNaN.test.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

feat: add isFinite assertion for finite number validation
  core/src/assert/assertClass.ts
  core/src/assert/funcs/equal.ts
  core/src/assert/funcs/is.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/ops/ITypeOp.ts
  core/src/assert/ops/isOp.ts
  core/test/src/assert/assert.isFinite.test.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

chore: Add node 22 and 24, limit codecov to node 22
  .github/copilot-instructions.md
  .github/workflows/ci.yml
Due: none

feat: add isFinite assertion for finite number validation (#219)
  core/src/assert/assertClass.ts
  core/src/assert/funcs/equal.ts
  core/src/assert/funcs/is.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/ops/ITypeOp.ts
  core/src/assert/ops/isOp.ts
  core/test/src/assert/assert.isFinite.test.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

chore: Add node 22 and 24, limit codecov to node 22 (#220)
  .github/copilot-instructions.md
  .github/workflows/ci.yml
Due: none

chore: syncing versions and shrinkwrap
  common/config/rush/npm-shrinkwrap.json
Due: none

chore: syncing versions and shrinkwrap
  common/config/rush/npm-shrinkwrap.json
  package.json
  shim/chai/package.json
Due: none

feat: Add typeOf assertion support and enhance error handling
  core/src/assert/adapters/exprAdapter.ts
  core/src/assert/assertClass.ts
  core/src/assert/assertionError.ts
  core/src/assert/funcs/isIterable.ts
  core/src/assert/funcs/typeOf.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/ops/ITypeOp.ts
  core/src/assert/ops/isOp.ts
  core/test/src/assert/assert.isIterable.test.ts
  core/test/src/assert/assert.typeOf.test.ts
  core/test/src/support/checkError.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
  shim/chai/test/tsconfig.browser.karma.json
  shim/chai/test/tsconfig.nostrict.json
  shim/chai/test/tsconfig.test.json
  shim/chai/test/tsconfig.worker.karma.json
Due: core, chai_shim

feat: Add typeOf assertion support and enhance error handling (#223)
  core/src/assert/adapters/exprAdapter.ts
  core/src/assert/assertClass.ts
  core/src/assert/assertionError.ts
  core/src/assert/funcs/isIterable.ts
  core/src/assert/funcs/typeOf.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/ops/ITypeOp.ts
  core/src/assert/ops/isOp.ts
  core/test/src/assert/assert.isIterable.test.ts
  core/test/src/assert/assert.typeOf.test.ts
  core/test/src/support/checkError.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
  shim/chai/test/tsconfig.browser.karma.json
  shim/chai/test/tsconfig.nostrict.json
  shim/chai/test/tsconfig.test.json
  shim/chai/test/tsconfig.worker.karma.json
Due: core, chai_shim

feat: implement instanceOf assertion for type checking
  core/src/assert/assertClass.ts
  core/src/assert/assertionError.ts
  core/src/assert/funcs/hasProperty.ts
  core/src/assert/funcs/hasSymbol.ts
  core/src/assert/funcs/instanceOf.ts
  core/src/assert/funcs/is.ts
  core/src/assert/funcs/typeOf.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/IAssertInst.ts
  core/src/assert/interface/IScopeContext.ts
  core/src/assert/interface/funcs/DeltaFn.ts
  core/src/assert/interface/funcs/EqualFn.ts
  core/src/assert/interface/funcs/IncludeFn.ts
  core/src/assert/interface/funcs/InstanceOfFn.ts
  core/src/assert/interface/funcs/PropertyFn.ts
  core/src/assert/interface/funcs/SymbolFn.ts
  core/src/assert/interface/funcs/TypeOfFn.ts
  core/src/assert/interface/funcs/WithinFn.ts
  core/src/assert/interface/ops/IDeltaOp.ts
  core/src/assert/interface/ops/IEqualOp.ts
  core/src/assert/interface/ops/IIncludeOp.ts
  core/src/assert/interface/ops/INumericOp.ts
  core/src/assert/interface/ops/IStrictlyOp.ts
  core/src/assert/interface/ops/IThrowOp.ts
  core/src/assert/interface/ops/IToOp.ts
  core/src/assert/interface/ops/ITypeOp.ts
  core/src/assert/ops/isOp.ts
  core/src/assert/ops/numericOp.ts
  core/src/index.ts
  core/test/src/assert/assert.isInstanceOf.test.ts
  core/test/src/assert/assert.isIterable.test.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/src/assert/chaiExpect.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

feat: implement instanceOf assertion for type checking (#224)
  core/src/assert/assertClass.ts
  core/src/assert/assertionError.ts
  core/src/assert/funcs/hasProperty.ts
  core/src/assert/funcs/hasSymbol.ts
  core/src/assert/funcs/instanceOf.ts
  core/src/assert/funcs/is.ts
  core/src/assert/funcs/typeOf.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/IAssertInst.ts
  core/src/assert/interface/IScopeContext.ts
  core/src/assert/interface/funcs/DeltaFn.ts
  core/src/assert/interface/funcs/EqualFn.ts
  core/src/assert/interface/funcs/IncludeFn.ts
  core/src/assert/interface/funcs/InstanceOfFn.ts
  core/src/assert/interface/funcs/PropertyFn.ts
  core/src/assert/interface/funcs/SymbolFn.ts
  core/src/assert/interface/funcs/TypeOfFn.ts
  core/src/assert/interface/funcs/WithinFn.ts
  core/src/assert/interface/ops/IDeltaOp.ts
  core/src/assert/interface/ops/IEqualOp.ts
  core/src/assert/interface/ops/IIncludeOp.ts
  core/src/assert/interface/ops/INumericOp.ts
  core/src/assert/interface/ops/IStrictlyOp.ts
  core/src/assert/interface/ops/IThrowOp.ts
  core/src/assert/interface/ops/IToOp.ts
  core/src/assert/interface/ops/ITypeOp.ts
  core/src/assert/ops/isOp.ts
  core/src/assert/ops/numericOp.ts
  core/src/index.ts
  core/test/src/assert/assert.isInstanceOf.test.ts
  core/test/src/assert/assert.isIterable.test.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/src/assert/chaiExpect.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

feat: implement exists/notExists assertions
  core/src/assert/assertClass.ts
  core/src/assert/funcs/exists.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/ops/IToOp.ts
  core/src/assert/ops/toOp.ts
  core/test/src/assert/assert.exists.test.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

feat: implement exists/notExists assertions (#225)
  core/src/assert/assertClass.ts
  core/src/assert/funcs/exists.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/ops/IToOp.ts
  core/src/assert/ops/toOp.ts
  core/test/src/assert/assert.exists.test.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

feat: Add property value checking assertions with negation support
  core/src/assert/assertClass.ts
  core/src/assert/assertionError.ts
  core/src/assert/funcs/hasProperty.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/IAssertClassDef.ts
  core/src/assert/internal/_AssertInstCore.ts
  core/test/src/assert/assert.property.test.ts
  core/test/src/assert/expect.has.test.ts
  core/test/src/assert/expect.to.test.ts
  core/test/src/assert/funcs/hasProperty.test.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/src/assert/interfaces/IChaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

feat: Add property value checking assertions with negation support (#226)
  core/src/assert/assertClass.ts
  core/src/assert/assertionError.ts
  core/src/assert/funcs/hasProperty.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/IAssertClassDef.ts
  core/src/assert/internal/_AssertInstCore.ts
  core/test/src/assert/assert.property.test.ts
  core/test/src/assert/expect.has.test.ts
  core/test/src/assert/expect.to.test.ts
  core/test/src/assert/funcs/hasProperty.test.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/src/assert/interfaces/IChaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

feat: Add nested property operations with Chai compatibility
  core/src/assert/assertClass.ts
  core/src/assert/assertionError.ts
  core/src/assert/config.ts
  core/src/assert/funcs/hasProperty.ts
  core/src/assert/funcs/nested.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/IAssertConfig.ts
  core/src/assert/interface/ops/IDeepOp.ts
  core/src/assert/interface/ops/IHasOp.ts
  core/src/assert/interface/ops/INestedOp.ts
  core/src/assert/ops/deepOp.ts
  core/src/assert/ops/hasOp.ts
  core/src/assert/ops/includeOp.ts
  core/src/assert/ops/nestedOp.ts
  core/src/assert/scopeContext.ts
  core/src/index.ts
  core/test/src/assert/assert.nested.test.ts
  core/test/src/assert/assertionError.test.ts
  core/test/src/assert/context.test.ts
  core/test/src/assert/parseNestedPath.test.ts
  core/test/src/support/checkError.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

feat: Add nested property operations with Chai compatibility (#227)
  core/src/assert/assertClass.ts
  core/src/assert/assertionError.ts
  core/src/assert/config.ts
  core/src/assert/funcs/hasProperty.ts
  core/src/assert/funcs/nested.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/IAssertConfig.ts
  core/src/assert/interface/ops/IDeepOp.ts
  core/src/assert/interface/ops/IHasOp.ts
  core/src/assert/interface/ops/INestedOp.ts
  core/src/assert/ops/deepOp.ts
  core/src/assert/ops/hasOp.ts
  core/src/assert/ops/includeOp.ts
  core/src/assert/ops/nestedOp.ts
  core/src/assert/scopeContext.ts
  core/src/index.ts
  core/test/src/assert/assert.nested.test.ts
  core/test/src/assert/assertionError.test.ts
  core/test/src/assert/context.test.ts
  core/test/src/assert/parseNestedPath.test.ts
  core/test/src/support/checkError.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

feat(assertions): implement lengthOf/sizeOf assertions
  .github/copilot-instructions.md
  core/src/assert/assertClass.ts
  core/src/assert/funcs/exists.ts
  core/src/assert/funcs/instanceOf.ts
  core/src/assert/funcs/length.ts
  core/src/assert/funcs/nested.ts
  core/src/assert/funcs/typeOf.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/IAssertInstHandlers.ts
  core/src/assert/interface/ops/IHasOp.ts
  core/src/assert/interface/ops/INestedOp.ts
  core/src/assert/ops/hasOp.ts
  core/src/assert/ops/nestedOp.ts
  core/test/src/assert/assert.exists.test.ts
  core/test/src/assert/assert.isFinite.test.ts
  core/test/src/assert/assert.isInstanceOf.test.ts
  core/test/src/assert/assert.isNaN.test.ts
  core/test/src/assert/assert.lengthOf.test.ts
  core/test/src/assert/assert.nested.test.ts
  core/test/src/assert/assert.sizeOf.test.ts
  core/test/src/assert/assert.typeOf.test.ts
  core/test/src/assert/funcs/hasSymbol.test.ts
  core/test/src/assert/ops/numericOp.test.ts
  core/test/src/assert/parseNestedPath.test.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/src/assert/chaiExpect.ts
  shim/chai/test/src/bootstrap/globalErr.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

Update core/test/src/assert/assert.sizeOf.test.ts
  core/test/src/assert/assert.sizeOf.test.ts
Due: none

Update test description for edge case handling
  core/test/src/assert/assert.sizeOf.test.ts
Due: none

Update core/src/assert/funcs/length.ts
  core/src/assert/funcs/length.ts
Due: core

feat(assertions): implement lengthOf/sizeOf assertions (#228)
  .github/copilot-instructions.md
  core/src/assert/assertClass.ts
  core/src/assert/funcs/exists.ts
  core/src/assert/funcs/instanceOf.ts
  core/src/assert/funcs/length.ts
  core/src/assert/funcs/nested.ts
  core/src/assert/funcs/typeOf.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/IAssertInstHandlers.ts
  core/src/assert/interface/ops/IHasOp.ts
  core/src/assert/interface/ops/INestedOp.ts
  core/src/assert/ops/hasOp.ts
  core/src/assert/ops/nestedOp.ts
  core/test/src/assert/assert.exists.test.ts
  core/test/src/assert/assert.isFinite.test.ts
  core/test/src/assert/assert.isInstanceOf.test.ts
  core/test/src/assert/assert.isNaN.test.ts
  core/test/src/assert/assert.lengthOf.test.ts
  core/test/src/assert/assert.nested.test.ts
  core/test/src/assert/assert.sizeOf.test.ts
  core/test/src/assert/assert.typeOf.test.ts
  core/test/src/assert/funcs/hasSymbol.test.ts
  core/test/src/assert/ops/numericOp.test.ts
  core/test/src/assert/parseNestedPath.test.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/src/assert/chaiExpect.ts
  shim/chai/test/src/bootstrap/globalErr.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

docs(copyright): update copyright headers for 2025 changes
  core/src/assert/adapters/evalAdapter.ts
  core/src/assert/adapters/exprAdapter.ts
  core/src/assert/assertScope.ts
  core/src/assert/funcs/equal.ts
  core/src/assert/funcs/hasProperty.ts
  core/src/assert/funcs/isEmpty.ts
  core/src/assert/funcs/isExtensible.ts
  core/src/assert/funcs/isFrozen.ts
  core/src/assert/funcs/isSealed.ts
  core/src/assert/funcs/keysFunc.ts
  core/src/assert/funcs/throws.ts
  core/src/assert/funcs/valuesFunc.ts
  core/src/assert/interface/IAssertConfig.ts
  core/src/assert/interface/IFormatter.ts
  core/src/assert/interface/IRemovable.ts
  core/src/assert/interface/funcs/IncludeFn.ts
  core/src/assert/interface/ops/IAllOp.ts
  core/src/assert/interface/ops/IAnyOp.ts
  core/src/assert/internal/_formatValue.ts
  core/src/assert/internal/_handleResult.ts
  core/src/assert/ops/allOp.ts
  core/src/assert/ops/includeOp.ts
  core/src/assert/ops/propertyResultOp.ts
  core/src/assert/scopeContext.ts
  core/src/assert/useScope.ts
  core/src/internal/captureStack.ts
  core/test/src/assert/assert.empty.test.ts
  core/test/src/assert/assert.equals.test.ts
  core/test/src/assert/assert.format.test.ts
  core/test/src/assert/assert.function.test.ts
  core/test/src/assert/assert.includes.test.ts
  core/test/src/assert/context.test.ts
  core/test/src/assert/funcs/allValuesFunc.test.ts
  core/test/src/assert/funcs/anyValuesFunc.test.ts
  core/test/src/operations/keysOp.test.ts
  core/test/src/support/checkError.ts
  core/test/src/support/validate.symbol.test.ts
  shim/chai/src/index.ts
Due: core, chai_shim

docs(copyright): update copyright headers for 2025 changes (#230)
  core/src/assert/adapters/evalAdapter.ts
  core/src/assert/adapters/exprAdapter.ts
  core/src/assert/assertScope.ts
  core/src/assert/funcs/equal.ts
  core/src/assert/funcs/hasProperty.ts
  core/src/assert/funcs/isEmpty.ts
  core/src/assert/funcs/isExtensible.ts
  core/src/assert/funcs/isFrozen.ts
  core/src/assert/funcs/isSealed.ts
  core/src/assert/funcs/keysFunc.ts
  core/src/assert/funcs/throws.ts
  core/src/assert/funcs/valuesFunc.ts
  core/src/assert/interface/IAssertConfig.ts
  core/src/assert/interface/IFormatter.ts
  core/src/assert/interface/IRemovable.ts
  core/src/assert/interface/funcs/IncludeFn.ts
  core/src/assert/interface/ops/IAllOp.ts
  core/src/assert/interface/ops/IAnyOp.ts
  core/src/assert/internal/_formatValue.ts
  core/src/assert/internal/_handleResult.ts
  core/src/assert/ops/allOp.ts
  core/src/assert/ops/includeOp.ts
  core/src/assert/ops/propertyResultOp.ts
  core/src/assert/scopeContext.ts
  core/src/assert/useScope.ts
  core/src/internal/captureStack.ts
  core/test/src/assert/assert.empty.test.ts
  core/test/src/assert/assert.equals.test.ts
  core/test/src/assert/assert.format.test.ts
  core/test/src/assert/assert.function.test.ts
  core/test/src/assert/assert.includes.test.ts
  core/test/src/assert/context.test.ts
  core/test/src/assert/funcs/allValuesFunc.test.ts
  core/test/src/assert/funcs/anyValuesFunc.test.ts
  core/test/src/operations/keysOp.test.ts
  core/test/src/support/checkError.ts
  core/test/src/support/validate.symbol.test.ts
  shim/chai/src/index.ts
Due: core, chai_shim

feat: implement approximate equality assertions (closeTo/approximately)
  core/src/assert/assertClass.ts
  core/src/assert/funcs/closeTo.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/funcs/CloseToFn.ts
  core/src/assert/interface/ops/IIsOp.ts
  core/src/assert/ops/isOp.ts
  core/src/index.ts
  core/test/src/assert/assert.closeTo.test.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

Update core/src/assert/funcs/closeTo.ts
  core/src/assert/funcs/closeTo.ts
Due: core

feat: implement approximate equality assertions (closeTo/approximately) (#231)
  core/src/assert/assertClass.ts
  core/src/assert/funcs/closeTo.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/funcs/CloseToFn.ts
  core/src/assert/interface/ops/IIsOp.ts
  core/src/assert/ops/isOp.ts
  core/src/index.ts
  core/test/src/assert/assert.closeTo.test.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

feat: Add operator comparison function with typeof support
  core/src/assert/assertClass.ts
  core/src/assert/const.ts
  core/src/assert/funcs/closeTo.ts
  core/src/assert/funcs/operator.ts
  core/src/assert/funcs/valuesFunc.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/funcs/CloseToFn.ts
  core/src/assert/interface/funcs/OperatorFn.ts
  core/src/assert/interface/ops/IIsOp.ts
  core/src/assert/internal/_baseFunctions.ts
  core/src/assert/internal/_formatValue.ts
  core/src/index.ts
  core/test/src/assert/assert.operator.test.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

feat: Add operator comparison function with typeof support (#232)
  core/src/assert/assertClass.ts
  core/src/assert/const.ts
  core/src/assert/funcs/closeTo.ts
  core/src/assert/funcs/operator.ts
  core/src/assert/funcs/valuesFunc.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/funcs/CloseToFn.ts
  core/src/assert/interface/funcs/OperatorFn.ts
  core/src/assert/interface/ops/IIsOp.ts
  core/src/assert/internal/_baseFunctions.ts
  core/src/assert/internal/_formatValue.ts
  core/src/index.ts
  core/test/src/assert/assert.operator.test.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

feat: add array member comparison assertions and deep equality support
  core/src/assert/assertClass.ts
  core/src/assert/funcs/equal.ts
  core/src/assert/funcs/members.ts
  core/src/assert/funcs/nested.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/ops/IIncludeOp.ts
  core/src/assert/ops/deepOp.ts
  core/src/assert/ops/includeOp.ts
  core/src/assert/type/ArrayLikeOrIterable.ts
  core/src/index.ts
  core/test/src/assert/members.test.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim
