Repository nevware21/tripwire: changes, and which Codecov flags are due for each by the changed paths.
All: core, chai_shim

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes
    
comment:
  layout: "header, changes, diff, files"
  behavior: default

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto
        branches:
          - main
        paths:
          - core/src
          - shim/chai/src
    project:
      core:
        paths:
          - core/src
        target: 80%
        flags:
          - core
      chai_shim:
        paths:
          - shim/chai/src
        target: 70%
        flags:
          - chai_shim

flags:
  core:
    paths:
      - core/src

  chai_shim:
    paths:
      - shim/chai/src

Update rush.json
  rush.json
Due: none

Bump @microsoft/rush from 5.147.1 to 5.149.1
  .github/workflows/ci.yml
  common/config/rush/npm-shrinkwrap.json
  core/package.json
  package.json
  rush.json
  shim/chai/package.json
Due: none

Update package.json
  package.json
Due: none

Update package.json
  core/package.json
Due: none

Update package.json
  shim/chai/package.json
Due: none

Update tsconfig.json
  shim/chai/tsconfig.json
Due: none

Update tsconfig.json
  core/tsconfig.json
Due: none

Update tsconfig.browser.karma.json
  core/test/tsconfig.browser.karma.json
Due: none

Update tsconfig.worker.karma.json
  core/test/tsconfig.worker.karma.json
Due: none

Update tsconfig.browser.karma.json
  shim/chai/test/tsconfig.browser.karma.json
Due: none

Update tsconfig.worker.karma.json
  shim/chai/test/tsconfig.worker.karma.json
Due: none

Update tsconfig.test.json
  shim/chai/test/tsconfig.test.json
Due: none

Update tsconfig.test.json
  core/test/tsconfig.test.json
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Add IncludesOp value checks and includeMembers for chai shim Add includes `value` checks Add `includeMembers` for chai shim bump @microsoft/rush from 5.147.1 to 5.151.0
  .github/workflows/ci.yml
  common/config/rush/npm-shrinkwrap.json
  common/scripts/install-run-rush.js
  common/scripts/install-run.js
  core/karma.browser.conf.js
  core/karma.worker.conf.js
  core/package.json
  core/src/assert/assertionError.ts
  core/src/assert/funcs/keysFunc.ts
  core/src/assert/funcs/valuesFunc.ts
  core/src/assert/interface/funcs/IncludeFn.ts
  core/src/assert/interface/funcs/ValuesFn.ts
  core/src/assert/interface/ops/IAllOp.ts
  core/src/assert/interface/ops/IAnyOp.ts
  core/src/assert/ops/allOp.ts
  core/src/index.ts
  core/test/src/assert/assert.includes.test.ts
  core/test/src/assert/funcs/allValuesFunc.test.ts
  core/test/src/assert/funcs/anyValuesFunc.test.ts
  package.json
  rush.json
  shim/chai/karma.browser.conf.js
  shim/chai/karma.worker.conf.js
  shim/chai/package.json
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/bootstrap/globalErr.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

Add IncludesOp value checks and includeMembers for chai shim (#77)
  .github/workflows/ci.yml
  common/config/rush/npm-shrinkwrap.json
  common/scripts/install-run-rush.js
  common/scripts/install-run.js
  core/karma.browser.conf.js
  core/karma.worker.conf.js
  core/package.json
  core/src/assert/assertionError.ts
  core/src/assert/funcs/keysFunc.ts
  core/src/assert/funcs/valuesFunc.ts
  core/src/assert/interface/funcs/IncludeFn.ts
  core/src/assert/interface/funcs/ValuesFn.ts
  core/src/assert/interface/ops/IAllOp.ts
  core/src/assert/interface/ops/IAnyOp.ts
  core/src/assert/ops/allOp.ts
  core/src/index.ts
  core/test/src/assert/assert.includes.test.ts
  core/test/src/assert/funcs/allValuesFunc.test.ts
  core/test/src/assert/funcs/anyValuesFunc.test.ts
  package.json
  rush.json
  shim/chai/karma.browser.conf.js
  shim/chai/karma.worker.conf.js
  shim/chai/package.json
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/bootstrap/globalErr.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

[Release] Increase version to 0.1.2
  CHANGELIST.md
  README.md
  common/config/rush/npm-shrinkwrap.json
  core/README.md
  core/package.json
  package.json
  shim/chai/README.md
  shim/chai/package.json
Due: none

[Release] Increase version to 0.1.2 (#93)
  CHANGELIST.md
  README.md
  common/config/rush/npm-shrinkwrap.json
  core/README.md
  core/package.json
  package.json
  shim/chai/README.md
  shim/chai/package.json
Due: none

Bump to typedoc ^0.28.2, Bump to typescript ~5.2.2 - Use github theme - tag alias constants as functions
  common/config/rush/npm-shrinkwrap.json
  core/package.json
  core/src/assert/funcs/equal.ts
  core/src/assert/funcs/isExtensible.ts
  core/src/assert/funcs/isFrozen.ts
  core/src/assert/funcs/isSealed.ts
  core/src/assert/funcs/keysFunc.ts
  core/src/assert/internal/_formatValue.ts
  core/src/assert/ops/includeOp.ts
  core/test/tsconfig.browser.karma.json
  core/test/tsconfig.test.json
  core/test/tsconfig.worker.karma.json
  core/tsconfig.json
  package.json
  shim/chai/package.json
  shim/chai/test/src/chaiAssert.test.ts
  shim/chai/test/tsconfig.browser.karma.json
  shim/chai/test/tsconfig.nostrict.json
  shim/chai/test/tsconfig.test.json
  shim/chai/test/tsconfig.worker.karma.json
  shim/chai/tsconfig.json
Due: core

Bump to typedoc ^0.28.2, Bump to typescript ~5.2.2 (#96)
  common/config/rush/npm-shrinkwrap.json
  core/package.json
  core/src/assert/funcs/equal.ts
  core/src/assert/funcs/isExtensible.ts
  core/src/assert/funcs/isFrozen.ts
  core/src/assert/funcs/isSealed.ts
  core/src/assert/funcs/keysFunc.ts
  core/src/assert/internal/_formatValue.ts
  core/src/assert/ops/includeOp.ts
  core/test/tsconfig.browser.karma.json
  core/test/tsconfig.test.json
  core/test/tsconfig.worker.karma.json
  core/tsconfig.json
  package.json
  shim/chai/package.json
  shim/chai/test/src/chaiAssert.test.ts
  shim/chai/test/tsconfig.browser.karma.json
  shim/chai/test/tsconfig.nostrict.json
  shim/chai/test/tsconfig.test.json
  shim/chai/test/tsconfig.worker.karma.json
  shim/chai/tsconfig.json
Due: core

Add WeekSet and WeakMap checks Implement chai shim isUndefined
  common/config/rush/npm-shrinkwrap.json
  core/src/assert/funcs/isEmpty.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

Add WeekSet and WeakMap checks (#105)
  common/config/rush/npm-shrinkwrap.json
  core/src/assert/funcs/isEmpty.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

bump @microsoft/rush from 5.153.1 to 5.153.2 - Fix isEmpty TypeScript compiliation issue
  common/config/rush/npm-shrinkwrap.json
  core/package.json
  core/src/assert/funcs/isEmpty.ts
  package.json
  rush.json
  shim/chai/package.json
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

bump @microsoft/rush from 5.153.1 to 5.153.2 (#112)
  common/config/rush/npm-shrinkwrap.json
  core/package.json
  core/src/assert/funcs/isEmpty.ts
  package.json
  rush.json
  shim/chai/package.json
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

Update rushVersion to 5.158.1
  rush.json
Due: none

Update npm version in rush settings
  common/config/rush/npm-shrinkwrap.json
  common/scripts/install-run-rush.js
  common/scripts/install-run.js
  rush.json
Due: none

Update npm version in rush settings (#167)
  common/config/rush/npm-shrinkwrap.json
  common/scripts/install-run-rush.js
  common/scripts/install-run.js
  rush.json
Due: none

Add Copilot instructions for repository context (#166)
  .github/copilot-instructions.md
Due: none

Add Dependabot auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: none

Create Dependabot Force Rebase workflow
  .github/workflows/dependabot-force-rebase.yml
Due: none
