Repository nevware21/tripwire: changes, and which Codecov flags are due for each by the changed paths.
All: core, chai_shim

feat: add array member comparison assertions and deep equality support (#238)
  core/src/assert/assertClass.ts
  core/src/assert/funcs/equal.ts
  core/src/assert/funcs/members.ts
  core/src/assert/funcs/nested.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/ops/IIncludeOp.ts
  core/src/assert/ops/deepOp.ts
  core/src/assert/ops/includeOp.ts
  core/src/assert/type/ArrayLikeOrIterable.ts
  core/src/index.ts
  core/test/src/assert/members.test.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

chore: syncing versions and shrinkwrap
  common/config/rush/npm-shrinkwrap.json
  common/scripts/install-run.js
  rush.json
Due: none

feat: Add endsWith and subsequence member comparison functions
  core/src/assert/assertClass.ts
  core/src/assert/funcs/members.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/ops/IIncludeOp.ts
  core/src/assert/ops/includeOp.ts
  core/test/src/assert/members.test.ts
Due: core

feat: Add endsWith and subsequence member comparison functions (#239)
  core/src/assert/assertClass.ts
  core/src/assert/funcs/members.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/ops/IIncludeOp.ts
  core/src/assert/ops/includeOp.ts
  core/test/src/assert/members.test.ts
Due: core

feat: implement oneOf assertion with ArrayLikeOrSizedIterable support
  core/src/assert/assertClass.ts
  core/src/assert/funcs/members.ts
  core/src/assert/funcs/oneOf.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/funcs/OneOfFn.ts
  core/src/assert/interface/ops/IIsOp.ts
  core/src/assert/internal/_isArrayLikeOrIterable.ts
  core/src/assert/ops/isOp.ts
  core/src/assert/type/ArrayLikeOrIterable.ts
  core/src/index.ts
  core/test/src/assert/assert.oneOf.test.ts
  core/test/src/assert/members.test.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

Update core/src/assert/funcs/members.ts
  core/src/assert/funcs/members.ts
Due: core

feat: implement oneOf assertion with ArrayLikeOrSizedIterable support (#240)
  core/src/assert/assertClass.ts
  core/src/assert/funcs/members.ts
  core/src/assert/funcs/oneOf.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/funcs/OneOfFn.ts
  core/src/assert/interface/ops/IIsOp.ts
  core/src/assert/internal/_isArrayLikeOrIterable.ts
  core/src/assert/ops/isOp.ts
  core/src/assert/type/ArrayLikeOrIterable.ts
  core/src/index.ts
  core/test/src/assert/assert.oneOf.test.ts
  core/test/src/assert/members.test.ts
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

feat: Add change/increase/decrease assertions with generic type support
  core/README.md
  core/src/assert/adapters/evalAdapter.ts
  core/src/assert/adapters/exprAdapter.ts
  core/src/assert/assertClass.ts
  core/src/assert/assertScope.ts
  core/src/assert/funcs/changes.ts
  core/src/assert/funcs/changesBy.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/IAssertClassDef.ts
  core/src/assert/interface/IAssertInst.ts
  core/src/assert/interface/funcs/ChangeByFn.ts
  core/src/assert/interface/funcs/ChangeFn.ts
  core/src/assert/interface/ops/IChangeResultOp.ts
  core/src/assert/interface/ops/IChangeResultValue.ts
  core/src/assert/interface/ops/IToOp.ts
  core/src/assert/internal/_baseFunctions.ts
  core/src/assert/internal/_isMsgSource.ts
  core/src/assert/ops/changeResultOp.ts
  core/src/assert/ops/toOp.ts
  core/src/assert/scopeContext.ts
  core/src/index.ts
  core/test/src/assert/adapters/exprAdapter.test.ts
  core/test/src/assert/assert.changes.test.ts
  core/test/src/assert/assert.oneOf.test.ts
  core/test/src/assert/assert.property.test.ts
  core/test/src/assert/expect.change.test.ts
  docs/README.md
  docs/change-assertions.md
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

feat: Add change/increase/decrease assertions with generic type support (#241)
  core/README.md
  core/src/assert/adapters/evalAdapter.ts
  core/src/assert/adapters/exprAdapter.ts
  core/src/assert/assertClass.ts
  core/src/assert/assertScope.ts
  core/src/assert/funcs/changes.ts
  core/src/assert/funcs/changesBy.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/IAssertClassDef.ts
  core/src/assert/interface/IAssertInst.ts
  core/src/assert/interface/funcs/ChangeByFn.ts
  core/src/assert/interface/funcs/ChangeFn.ts
  core/src/assert/interface/ops/IChangeResultOp.ts
  core/src/assert/interface/ops/IChangeResultValue.ts
  core/src/assert/interface/ops/IToOp.ts
  core/src/assert/internal/_baseFunctions.ts
  core/src/assert/internal/_isMsgSource.ts
  core/src/assert/ops/changeResultOp.ts
  core/src/assert/ops/toOp.ts
  core/src/assert/scopeContext.ts
  core/src/index.ts
  core/test/src/assert/adapters/exprAdapter.test.ts
  core/test/src/assert/assert.changes.test.ts
  core/test/src/assert/assert.oneOf.test.ts
  core/test/src/assert/assert.property.test.ts
  core/test/src/assert/expect.change.test.ts
  docs/README.md
  docs/change-assertions.md
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

feat: Add isNumber and isBoolean assertion methods with comprehensive documentation
  README.md
  core/README.md
  core/src/assert/assertClass.ts
  core/src/assert/interface/IAssertClass.ts
  core/test/src/assert/assert.isBoolean.test.ts
  core/test/src/assert/assert.isNumber.test.ts
  docs/README.md
  shim/chai/README.md
Due: core

feat: Add isNumber and isBoolean assertion methods with comprehensive documentation (#242)
  README.md
  core/README.md
  core/src/assert/assertClass.ts
  core/src/assert/interface/IAssertClass.ts
  core/test/src/assert/assert.isBoolean.test.ts
  core/test/src/assert/assert.isNumber.test.ts
  docs/README.md
  shim/chai/README.md
Due: core

chore: Update docs site
  README.md
  docs/README.md
  docs/_config.yml
Due: none

chore: Update docs site (#243)
  README.md
  docs/README.md
  docs/_config.yml
Due: none

chore: syncing versions and shrinkwrap
  common/config/rush/npm-shrinkwrap.json
Due: none

chore: syncing versions and shrinkwrap
  common/config/rush/npm-shrinkwrap.json
  package.json
  shim/chai/package.json
Due: none

feat: implement deep keys assertions for Maps/Sets
  .github/copilot-instructions.md
  core/README.md
  core/src/assert/assertClass.ts
  core/src/assert/funcs/keysFunc.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/ops/IAllOp.ts
  core/src/assert/interface/ops/IAnyOp.ts
  core/src/assert/interface/ops/IDeepOp.ts
  core/src/assert/ops/allOp.ts
  core/src/assert/ops/deepOp.ts
  core/src/assert/ops/keysOp.ts
  core/test/src/assert/assert.deepKeys.test.ts
  shim/chai/README.md
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

feat: implement deep keys assertions with ArrayLikeOrSizedIterable support
  .github/copilot-instructions.md
  core/README.md
  core/src/assert/assertClass.ts
  core/src/assert/funcs/keysFunc.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/ops/IAllOp.ts
  core/src/assert/interface/ops/IAnyOp.ts
  core/src/assert/interface/ops/IDeepOp.ts
  core/src/assert/ops/allOp.ts
  core/src/assert/ops/deepOp.ts
  core/src/assert/ops/keysOp.ts
  core/test/src/assert/assert.deepKeys.test.ts
  shim/chai/README.md
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

feat: implement deep keys assertions with ArrayLikeOrSizedIterable support (#247)
  .github/copilot-instructions.md
  core/README.md
  core/src/assert/assertClass.ts
  core/src/assert/funcs/keysFunc.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/ops/IAllOp.ts
  core/src/assert/interface/ops/IAnyOp.ts
  core/src/assert/interface/ops/IDeepOp.ts
  core/src/assert/ops/allOp.ts
  core/src/assert/ops/deepOp.ts
  core/src/assert/ops/keysOp.ts
  core/test/src/assert/assert.deepKeys.test.ts
  shim/chai/README.md
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

feat: Add ifError assertion for Node.js error handling
  core/README.md
  core/src/assert/assertClass.ts
  core/src/assert/funcs/ifError.ts
  core/src/assert/funcs/keysFunc.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/ops/IToOp.ts
  core/src/assert/ops/keysOp.ts
  core/src/assert/ops/toOp.ts
  core/test/src/assert/assert.ifError.test.ts
  shim/chai/README.md
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

feat: Add ifError assertion for Node.js error handling (#248)
  core/README.md
  core/src/assert/assertClass.ts
  core/src/assert/funcs/ifError.ts
  core/src/assert/funcs/keysFunc.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/ops/IToOp.ts
  core/src/assert/ops/keysOp.ts
  core/src/assert/ops/toOp.ts
  core/test/src/assert/assert.ifError.test.ts
  shim/chai/README.md
  shim/chai/src/assert/chaiAssert.ts
  shim/chai/test/src/chaiAssert.test.ts
Due: core, chai_shim

feat(core): add optimized createNotAdapter for negation operations
  core/src/assert/adapters/notAdapter.ts
  core/src/assert/assertClass.ts
  core/src/index.ts
  core/test/src/assert/adapters/notAdapter.test.ts
Due: core

feat(core): add optimized createNotAdapter for negation operations (#250)
  core/src/assert/adapters/notAdapter.ts
  core/src/assert/assertClass.ts
  core/src/index.ts
  core/test/src/assert/adapters/notAdapter.test.ts
Due: core

perf(core): add lazy initialization for assert class functions
  README.md
  core/src/assert/assertClass.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/IAssertClassDef.ts
  core/src/assert/interface/IAssertInst.ts
  core/src/assert/interface/ops/IToOp.ts
  core/test/src/assert/adapters/exprAdapter.test.ts
  core/test/src/assert/adapters/notAdapter.test.ts
  core/test/src/assert/addAssertFunc.test.ts
  core/test/src/assert/assert.fail.test.ts
  core/test/src/assert/assert.fatal.test.ts
  core/test/src/assert/assert.includes.test.ts
  core/test/src/assert/assert.isTrue.test.ts
  core/test/src/assert/assert.match.test.ts
  core/test/src/assert/assert.ok.test.ts
  core/test/src/assert/assertInst.test.ts
  core/test/src/assert/assertScope.test.ts
  core/test/src/assert/context.test.ts
  core/test/src/assert/expect.fail.test.ts
  core/test/src/assert/funcs/anyValuesFunc.test.ts
  core/test/src/assert/scopeContext.test.ts
  core/test/src/operations/includeOp.test.ts
  docs/README.md
  docs/expression-adapter.md
Due: core

perf(core): add lazy initialization for assert class functions (#251)
  README.md
  core/src/assert/assertClass.ts
  core/src/assert/interface/IAssertClass.ts
  core/src/assert/interface/IAssertClassDef.ts
  core/src/assert/interface/IAssertInst.ts
  core/src/assert/interface/ops/IToOp.ts
  core/test/src/assert/adapters/exprAdapter.test.ts
  core/test/src/assert/adapters/notAdapter.test.ts
  core/test/src/assert/addAssertFunc.test.ts
  core/test/src/assert/assert.fail.test.ts
  core/test/src/assert/assert.fatal.test.ts
  core/test/src/assert/assert.includes.test.ts
  core/test/src/assert/assert.isTrue.test.ts
  core/test/src/assert/assert.match.test.ts
  core/test/src/assert/assert.ok.test.ts
  core/test/src/assert/assertInst.test.ts
  core/test/src/assert/assertScope.test.ts
  core/test/src/assert/context.test.ts
  core/test/src/assert/expect.fail.test.ts
  core/test/src/assert/funcs/anyValuesFunc.test.ts
  core/test/src/assert/scopeContext.test.ts
  core/test/src/operations/includeOp.test.ts
  docs/README.md
  docs/expression-adapter.md
Due: core

refactor: introduce centralized format manager with parent-child hierarchy
  core/src/assert/adapters/exprAdapter.ts
  core/src/assert/assertClass.ts
  core/src/assert/assertionError.ts
  core/src/assert/config.ts
  core/src/assert/expect.ts
  core/src/assert/funcs/equal.ts
  core/src/assert/interface/IFormatter.ts
  core/src/assert/interface/IScopeContext.ts
  core/src/assert/scopeContext.ts
  core/src/config/assertConfig.ts
  core/src/config/config.ts
  core/src/config/defaultConfig.ts
  core/src/index.ts
  core/src/interface/IConfig.ts
  core/src/interface/IConfigApi.ts
  core/src/interface/IConfigInst.ts
  core/src/interface/IFormatManager.ts
  core/src/interface/IFormatter.ts
  core/src/interface/IFormatterOptions.ts
  core/src/interface/IRemovable.ts
  core/src/internal/_defaultFormatters.ts
  core/src/internal/_formatValue.ts
  core/src/internal/_noOp.ts
  core/src/internal/formatManager.ts
  core/test/src/assert/adapters/exprAdapter.test.ts
  core/test/src/assert/adapters/notAdapter.test.ts
  core/test/src/assert/assert.equals.test.ts
  core/test/src/assert/assert.format.test.ts
  core/test/src/assert/assert.function.test.ts
  core/test/src/assert/config.test.ts
  core/test/src/support/checkError.ts
Due: core

refactor: introduce centralized format manager with parent-child hierarchy (#253)
  core/src/assert/adapters/exprAdapter.ts
  core/src/assert/assertClass.ts
  core/src/assert/assertionError.ts
  core/src/assert/config.ts
  core/src/assert/expect.ts
  core/src/assert/funcs/equal.ts
  core/src/assert/interface/IFormatter.ts
  core/src/assert/interface/IScopeContext.ts
  core/src/assert/scopeContext.ts
  core/src/config/assertConfig.ts
  core/src/config/config.ts
  core/src/config/defaultConfig.ts
  core/src/index.ts
  core/src/interface/IConfig.ts
  core/src/interface/IConfigApi.ts
  core/src/interface/IConfigInst.ts
  core/src/interface/IFormatManager.ts
  core/src/interface/IFormatter.ts
  core/src/interface/IFormatterOptions.ts
  core/src/interface/IRemovable.ts
  core/src/internal/_defaultFormatters.ts
  core/src/internal/_formatValue.ts
  core/src/internal/_noOp.ts
  core/src/internal/formatManager.ts
  core/test/src/assert/adapters/exprAdapter.test.ts
  core/test/src/assert/adapters/notAdapter.test.ts
  core/test/src/assert/assert.equals.test.ts
  core/test/src/assert/assert.format.test.ts
  core/test/src/assert/assert.function.test.ts
  core/test/src/assert/config.test.ts
  core/test/src/support/checkError.ts
Due: core

chore(codecov): Add explicit slug property to upload
  .github/workflows/ci.yml
Due: none

chore(codecov): Add explicit slug property to upload (#254)
  .github/workflows/ci.yml
Due: none

docs: Add a migration guide for migrating from chai to tripwire
  docs/README.md
  docs/migration/migrating-from-chai.md
  shim/chai/README.md
Due: none

docs: Add a migration guide for migrating from chai to tripwire (#255)
  docs/README.md
  docs/migration/migrating-from-chai.md
  shim/chai/README.md
Due: none

[Release] Increease version to 0.1.5
  CHANGELIST.md
  README.md
  core/README.md
  core/package.json
  package.json
  shim/chai/README.md
  shim/chai/package.json
Due: none

[Release] Increease version to 0.1.5 (#256)
  CHANGELIST.md
  README.md
  common/config/rush/npm-shrinkwrap.json
  core/README.md
  core/package.json
  package.json
  shim/chai/README.md
  shim/chai/package.json
Due: none

Bump @nevware21/ts-utils to 0.12.6 (#258)
  .github/copilot-instructions.md
  common/config/rush/npm-shrinkwrap.json
  core/package.json
  package.json
  shim/chai/package.json
Due: none

chore: syncing versions and shrinkwrap
  common/config/rush/npm-shrinkwrap.json
  common/scripts/install-run-rush.js
  common/scripts/install-run.js
  rush.json
Due: none

Path conditions:
  core: any of: core/src
  chai_shim: any of: shim/chai/src
